 * {
  background-color: #121212;
  color: #B3B3B3;
}

.container {
  margin: auto auto;
  width: 50%;
  margin: 3rem auto;
}
/*
.btn {
  margin: auto;
  width: 5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: hsla(0, 100%, 100%, 0.16);
  color: #B3B3B3;
  border: none;
}

.form {
  margin: 1rem;
}

.input {
  background-color: hsla(0, 100%, 100%, 0.16);
  box-shadow: none;
  border: none;
  width: 250px;
  border-radius: 0.2rem;
  height: 2rem;
  vertical-align: bottom;
}

td {
  text-align: left;
}

textarea {

  background-color: hsla(0, 100%, 100%, 0.16);
  box-shadow: none;
  border: none;
  width: 250px;
  border-radius: 0.2rem;
  height: 2rem;
  vertical-align: bottom;
  height: 5rem;
}
*/
.card {
  width: 100%;
  display: flexbox;
  margin: 2rem;
}

 img{
  width: 200px;
  height: 200px;
}
input {
  background-color: hsla(0, 100%, 100%, 0.16);
  box-shadow: none;
  border: none;
  width: 250px;
  border-radius: 0.2rem;
  height: 2rem;
  vertical-align: bottom;
}
textarea {

  background-color: hsla(0, 100%, 100%, 0.16);
  box-shadow: none;
  border: none;
  width: 250px;
  border-radius: 0.2rem;
  height: 2rem;
  vertical-align: bottom;
  height: 5rem;
}
.form {
  margin: 1rem;
  padding-left: 4rem;
}
/* .card span{
  vertical-align: top;
  margin: 1rem;
} */